- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트(List) 타입이 배열 기능을 제공하고 있음

## 배열이 왜 필요할까 ?

- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장

- 배열의 장점:
 - 빠른 접근 가능
- 배열의 단점:
 - 추가/삭제가 쉽지 않음

## 파이썬과 C 언어의 배열 예제

- C언어 : 배열의 최대 크기를 미리 정해야한다.
- 파이썬 : 선언만 하면 된다.

## 파이썬과 배열

- 파이썬 리스트 활용

In [3]:
# 1차원 배열 리스트로 구현
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [11]:
# 2차원 배열 리스트로 구현
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
data[0]

[1, 2, 3]

In [15]:
data[0][0]

1

## 프로그래밍 연습

#### 연습 1 : 위의 2차원 배열에서 9,8,7 순서로 출력

In [20]:
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

#### 연습 2 : 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수

In [39]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [45]:
# 대소문자 관계없이
count=0

for data in dataset:
    for char in data:
        if 'M' == char.upper():
            count+=1
            
print(count)

59

In [43]:
# 선생님 풀이법 - 대문자 M
count=0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            count+=1
            
print(count)

38